# This is only for develop not for production

# Aca va el setting de .env original.

# La idea es de quien agarre el proyecto, copie esta data y cree un .env nuevo 

# Aconsejable DotENV extension https://marketplace.visualstudio.com/items?itemName=mikestead.dotenv
 
PORT=8080
MONGODB=mongodb://localhost:27017/FastDelivery
JWT_ACCESS_SECRET=OTHERSECRET