@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.body {
  height: 100vh;
}

.linkLogin {
  color: #217bce;
}

.box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
}

@import url(./addPackage.css);
@import url(./login.css);
