@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;

}

.linkLogin {
  color: #217bce;
}

@import url(./addPackage.css);
@import url(./login.css);

