name: Backend Deployment

on:
  push:
    branches: [develop]

env:
  PROJECT_ID: fast-delivery-uma
  REGION: us-east1

jobs:
  build-and-push-backend-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Authenticate to Google Cloud
        uses: "google-github-actions/auth@v1"
        with:
          project_id: ${ env.PROJECT_ID }
          service_account: "github-actions@${ env.PROJECT_ID }.iam.gserviceaccount.com"
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: LogIn to Docker
        run: gcloud auth print-access-token | docker login -u oauth2accesstoken --password-stdin https://${ env.REGION }-docker.pkg.dev
      - name: Build Docker Image
        run: docker build -t ${ env.REGION }-docker.pkg.dev/${ env.PROJECT_ID }/deploy/backend ./fd-backend/
      - name: Push Image to Artifact Registry
        run: docker push ${ env.REGION }-docker.pkg.dev/${ env.PROJECT_ID }/deploy/backend
      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v0
        with:
          service: backend
          region: ${ env.REGION }
          image: ${ env.REGION }-docker.pkg.dev/${ env.PROJECT_ID }/deploy/backend
      - name: Show Output
        run: echo ${{ steps.deploy.outputs.url }}
