name: Deployment Pipeline

on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [develop]
    types: [opened, synchronize]

jobs:
  deploy:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install --no-audit --no-fund --no-optional
      - name: Lint back
        run: npm run lint:back
      - name: Lint front
        run: npm run lint:front
      - name: Build front
        run: npm run build
      - name: Test back E2E
        run: npm run test:back